# Importing Packages and Data

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# importing data
df = pd.read_csv('products.csv')

# adding new column for bin category
df["bin"] = pd.qcut(df['price'], q=12)

# splitting data
train, test = train_test_split(df, test_size=0.20)
x_train, y_train = train.drop(["price", "bin", "description", "product_ID"], axis = 1), train[['bin']]
x_test, y_test = test.drop(["price", "bin", "description", "product_ID"], axis = 1), test[['bin']]

In [2]:
df

,product_ID,product_type,product_name,size,colour,price,quantity,description,bin
0,0,Shirt,Oxford Cloth,XS,red,114,66,"A red coloured, XS sized, Oxford Cloth Shirt","(113.0, 114.0]"
1,1,Shirt,Oxford Cloth,S,red,114,53,"A red coloured, S sized, Oxford Cloth Shirt","(113.0, 114.0]"
2,2,Shirt,Oxford Cloth,M,red,114,54,"A red coloured, M sized, Oxford Cloth Shirt","(113.0, 114.0]"
3,3,Shirt,Oxford Cloth,L,red,114,69,"A red coloured, L sized, Oxford Cloth Shirt","(113.0, 114.0]"
4,4,Shirt,Oxford Cloth,XL,red,114,47,"A red coloured, XL sized, Oxford Cloth Shirt","(113.0, 114.0]"
...,...,...,...,...,...,...,...,...,...
1255,1255,Trousers,Tracksuit Bottoms,XS,violet,91,67,"A violet coloured, XS sized, Tracksuit Bottoms...","(89.999, 91.917]"
1256,1256,Trousers,Tracksuit Bottoms,S,violet,91,48,"A violet coloured, S sized, Tracksuit Bottoms ...","(89.999, 91.917]"
1257,1257,Trousers,Tracksuit Bottoms,M,violet,91,73,"A violet coloured, M sized, Tracksuit Bottoms ...","(89.999, 91.917]"
1258,1258,Trousers,Tracksuit Bottoms,L,violet,91,45,"A violet coloured, L sized, Tracksuit Bottoms ...","(89.999, 91.917]"
1259,1259,Trousers,Tracksuit Bottoms,XL,violet,91,60,"A violet coloured, XL sized, Tracksuit Bottoms...","(89.999, 91.917]"

In [7]:
df[['product_type','product_name','size','colour']].describe()

       product_type product_name  size colour
count          1260         1260  1260   1260
unique            3           35     5      7
top           Shirt        Denim    XS    red
freq            420           70   252    180

#  NaÃ¯ve Bayes Classifier

In [38]:
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report

# gnb = GaussianNB()
# y_pred = gnb.fit(x_train, y_train).predict(x_test)
# print(classification_report(y_test, y_pred))
# print(classification_report(y_test, NB.predict(scaler.transform(X_test))))

# K-Nearest Neighbors Classifier