# Importing Packages and Data

In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# importing data
df = pd.read_csv('products.csv')

# adding new column for bin category
df["bin"] = pd.qcut(df['price'], q=12)

# splitting data
train, test = train_test_split(df, test_size=0.20)

,product_ID,product_type,product_name,size,colour,price,quantity,description,bin
27,27,Shirt,Oxford Cloth,M,indigo,114,62,"A indigo coloured, M sized, Oxford Cloth Shirt","(113.0, 114.0]"
478,478,Jacket,Puffer,L,blue,110,48,"A blue coloured, L sized, Puffer Jacket","(108.5, 111.417]"
1158,1158,Trousers,High-Waisted,L,red,98,52,"A red coloured, L sized, High-Waisted Trousers","(95.75, 99.667]"
1095,1095,Trousers,Cropped,XS,yellow,99,41,"A yellow coloured, XS sized, Cropped Trousers","(95.75, 99.667]"
46,46,Shirt,Dress,S,yellow,119,56,"A yellow coloured, S sized, Dress Shirt","(118.083, 119.0]"
...,...,...,...,...,...,...,...,...,...
915,915,Trousers,Drawstring,XS,orange,104,41,"A orange coloured, XS sized, Drawstring Trousers","(99.667, 104.583]"
1222,1222,Trousers,Pleated,M,violet,90,45,"A violet coloured, M sized, Pleated Trousers","(89.999, 91.917]"
113,113,Shirt,Denim,L,orange,115,45,"A orange coloured, L sized, Denim Shirt","(114.0, 115.167]"
97,97,Shirt,Flannel,M,indigo,96,69,"A indigo coloured, M sized, Flannel Shirt","(95.75, 99.667]"
575,575,Jacket,Bomber,XS,green,90,48,"A green coloured, XS sized, Bomber Jacket","(89.999, 91.917]"

#  Naïve Bayes Classifier