In [8]:
import pandas as pd
import numpy as np

In [2]:
com_data = pd.read_csv('complete_binned.csv')
com_data.head()

,product_id,product_type,product_name,size,colour,quantity_x,description,sales_id,order_id,price_per_unit,...,delivery_date,customer_name,gender,age,home_address,zip_code,city,state,country,bins
0,1.0,Shirt,Oxford Cloth,S,red,53.0,"A red coloured, S sized, Oxford Cloth Shirt",22.0,5.0,96.0,...,2021-03-24,Artemas Vasilischev,Bigender,53.0,33 Richards JunctionApt. 478,7650.0,South Rileyview,Western Australia,Australia,"(111.75, 115.375]"
1,148.0,Shirt,Linen,L,orange,73.0,"A orange coloured, L sized, Linen Shirt",20.0,5.0,91.0,...,2021-03-24,Artemas Vasilischev,Bigender,53.0,33 Richards JunctionApt. 478,7650.0,South Rileyview,Western Australia,Australia,"(115.375, 119.0]"
2,475.0,Jacket,Puffer,XS,blue,57.0,"A blue coloured, XS sized, Puffer Jacket",21.0,5.0,118.0,...,2021-03-24,Artemas Vasilischev,Bigender,53.0,33 Richards JunctionApt. 478,7650.0,South Rileyview,Western Australia,Australia,"(108.125, 111.75]"
3,635.0,Jacket,Coach,XS,orange,42.0,"A orange coloured, XS sized, Coach Jacket",25.0,5.0,93.0,...,2021-03-24,Artemas Vasilischev,Bigender,53.0,33 Richards JunctionApt. 478,7650.0,South Rileyview,Western Australia,Australia,"(111.75, 115.375]"
4,639.0,Jacket,Coach,XL,orange,46.0,"A orange coloured, XL sized, Coach Jacket",26.0,5.0,93.0,...,2021-03-24,Artemas Vasilischev,Bigender,53.0,33 Richards JunctionApt. 478,7650.0,South Rileyview,Western Australia,Australia,"(111.75, 115.375]"

In [3]:
#shape of data
com_data.shape

(5001, 25)

In [4]:
#Feature names of the columns
list(com_data.columns)

['product_id',
 'product_type',
 'product_name',
 'size',
 'colour',
 'quantity_x',
 'description',
 'sales_id',
 'order_id',
 'price_per_unit',
 'quantity_y',
 'total_price',
 'customer_id',
 'payment',
 'order_date',
 'delivery_date',
 'customer_name',
 'gender',
 'age',
 'home_address',
 'zip_code',
 'city',
 'state',
 'country',
 'bins']

In [5]:
com_data.dtypes

product_id        float64
product_type       object
product_name       object
size               object
colour             object
quantity_x        float64
description        object
sales_id          float64
order_id          float64
price_per_unit    float64
quantity_y        float64
total_price       float64
customer_id       float64
payment           float64
order_date         object
delivery_date      object
customer_name      object
gender             object
age               float64
home_address       object
zip_code          float64
city               object
state              object
country            object
bins               object
dtype: object

In [7]:
com_data.describe().T

,count,mean,std,min,25%,50%,75%,max
product_id,5000.0,634.0532,363.255794,1.0,323.00,635.0,951.00,1259.0
quantity_x,5000.0,60.0834,11.682523,40.0,50.00,60.0,70.00,80.0
sales_id,5000.0,2499.5000,1443.520003,0.0,1249.75,2499.5,3749.25,4999.0
order_id,5000.0,503.0382,285.964418,1.0,258.00,504.5,749.00,999.0
price_per_unit,5000.0,103.5016,9.195004,90.0,95.00,102.0,112.00,119.0
quantity_y,5000.0,1.9924,0.807510,1.0,1.00,2.0,3.00,3.0
total_price,5000.0,206.3600,86.357457,90.0,112.00,204.0,285.00,357.0
customer_id,5000.0,504.5630,276.504896,1.0,276.00,509.0,733.00,1000.0
payment,5000.0,33976.7850,14612.706539,10043.0,20627.00,34259.0,46608.00,59910.0
age,5000.0,48.7604,17.577519,20.0,34.00,48.0,63.00,80.0
zip_code,5000.0,4912.3556,2907.367939,52.0,2273.00,4750.0,7460.25,9998.0

In [9]:
np.round(com_data.isnull().mean() * 100,1)

product_id        0.0
product_type      0.0
product_name      0.0
size              0.0
colour            0.0
quantity_x        0.0
description       0.0
sales_id          0.0
order_id          0.0
price_per_unit    0.0
quantity_y        0.0
total_price       0.0
customer_id       0.0
payment           0.0
order_date        0.0
delivery_date     0.0
customer_name     0.0
gender            0.0
age               0.0
home_address      0.0
zip_code          0.0
city              0.0
state             0.0
country           0.0
bins              0.0
dtype: float64

In [11]:
categorical_features = list(com_data.select_dtypes("object").columns)
categorical_features

['product_type',
 'product_name',
 'size',
 'colour',
 'description',
 'order_date',
 'delivery_date',
 'customer_name',
 'gender',
 'home_address',
 'city',
 'state',
 'country',
 'bins']

In [13]:
for i in categorical_features:
    print(f'{i}\n{np.round((com_data[i].value_counts() / com_data[i].value_counts().sum()) * 100,2)}')
    print("-----------------------------------------------------------------------------------")

product_type
Trousers    33.66
Jacket      33.52
Shirt       32.82
Name: product_type, dtype: float64
-----------------------------------------------------------------------------------
product_name
Denim                5.46
Joggers              3.28
Slim-Fit             3.08
Casual Slim Fit      3.08
Shearling            3.00
Bomber               3.00
Drawstring           2.94
Pleated              2.94
Relaxed Leg          2.92
Trench Coat          2.92
Oxford Cloth         2.92
Henley               2.92
Windbreaker          2.86
Pullover             2.86
Flannel              2.82
Chambray             2.82
Puffer               2.80
High-Waisted         2.80
Camp Collared        2.78
Leather              2.72
Cropped              2.70
Chinos               2.70
Parka                2.68
Coach                2.68
Cargo Pants          2.68
Cardigan             2.68
Peacoat              2.64
Linen                2.62
Polo                 2.62
Tracksuit Bottoms    2.60
Dress                2.54
Cords                2.52
Wool                 2.50
Mandarin Collar      2.48
Cuban Collar         2.44
Name: product_name, dtype: float64
-----------------------------------------------------------------------------------
size
M     20.44
L     20.04
XS    20.02
S     19.96
XL    19.54
Name: size, dtype: float64
-----------------------------------------------------------------------------------
colour
blue      15.24
violet    14.78
indigo    14.52
orange    13.94
green     13.88
red       13.84
yellow    13.80
Name: colour, dtype: float64
-----------------------------------------------------------------------------------
description
A orange coloured, L sized, Flannel Shirt                0.26
A orange coloured, XS sized, Peacoat Jacket              0.24
A green coloured, XL sized, Bomber Jacket                0.22
A red coloured, L sized, Chinos Trousers                 0.22
A blue coloured, L sized, Relaxed Leg Trousers           0.20
                                                         ...
A green coloured, L sized, Tracksuit Bottoms Trousers    0.02
A orange coloured, XS sized, Parka Jacket                0.02
A orange coloured, S sized, Pullover Jacket              0.02
A red coloured, XL sized, Wool Trousers                  0.02
A violet coloured, XL sized, Chinos Trousers             0.02
Name: description, Length: 1233, dtype: float64
-----------------------------------------------------------------------------------
order_date
2021-6-21    1.02
2021-3-22    1.00
2021-3-30    0.92
2021-1-27    0.92
2021-7-7     0.90
             ...
2021-8-15    0.06
2021-4-12    0.04
2021-6-28    0.04
2021-7-27    0.02
2021-2-1     0.02
Name: order_date, Length: 291, dtype: float64
-----------------------------------------------------------------------------------
delivery_date
2021-09-12    0.98
2021-03-28    0.98
2021-02-05    0.88
2021-04-08    0.86
2021-08-09    0.84
              ...
2021-08-21    0.04
2021-11-11    0.04
2021-06-04    0.04
2021-01-12    0.02
2021-06-12    0.02
Name: delivery_date, Length: 304, dtype: float64
-----------------------------------------------------------------------------------
customer_name
Kristofor Roos          0.74
Wren Helgass            0.64
Dannie Fidler           0.58
Melissa Partkya         0.52
Esteban Hensmans        0.52
                        ...
Cristen Hagley          0.02
Lin Avraam              0.02
Amaleta Beange          0.02
Prissie Kondratovich    0.02
Nathaniel McCandless    0.02
Name: customer_name, Length: 616, dtype: float64
-----------------------------------------------------------------------------------
gender
Female         14.24
Genderfluid    13.74
Male           13.44
Genderqueer    12.94
Polygender     12.72
Non-binary     11.96
Agender        10.52
Bigender       10.44
Name: gender, dtype: float64
-----------------------------------------------------------------------------------
home_address
5567 Clarke MallApt. 756       0.74
2634 Ward CrescentSuite 361    0.64
157 Rohan MallApt. 466         0.58
95 Rice Station StSuite 985    0.52
098 Clarke ParkwayApt. 312     0.52
                               ...
9018 Paige WayApt. 282         0.02
00 Zachary AvenueApt. 781      0.02
26 Martin RoadSuite 393        0.02
20 Hyatt LaneSuite 740         0.02
5085 Bergstrom MewsApt. 347    0.02
Name: home_address, Length: 616, dtype: float64
-----------------------------------------------------------------------------------
city
Jordanside          0.74
Port Hannahburgh    0.64
East Max            0.58
Rubyfort            0.52
O'keefeton          0.52
                    ...
South Tobyton       0.02
North Baileyside    0.02
South Zacmouth      0.02
Samuelland          0.02
West Eviebury       0.02
Name: city, Length: 604, dtype: float64
-----------------------------------------------------------------------------------
state
South Australia                 14.36
Queensland                      13.74
New South Wales                 12.94
Australian Capital Territory    12.76
Western Australia               12.08
Victoria                        11.82
Tasmania                        11.72
Northern Territory              10.58
Name: state, dtype: float64
-----------------------------------------------------------------------------------
country
Australia    100.0
Name: country, dtype: float64
-----------------------------------------------------------------------------------
bins
(111.75, 115.375]    25.26
(89.971, 93.625]     16.58
(115.375, 119.0]     16.22
(93.625, 97.25]      12.02
(97.25, 100.875]      8.20
(108.125, 111.75]     8.16
(104.5, 108.125]      7.98
(100.875, 104.5]      5.58
Name: bins, dtype: float64
-----------------------------------------------------------------------------------